{% extends "base.html" %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">地产载体</h1>
    <form class="" role="search" method='GET'>
      <div class="form-group">
        <input name="search" type="text" class="form-control" placeholder="查找载体">
      </div>
    </form>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>商务载体名称</th>
        <th>地址&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>可租赁面积</th>
        <th>图片</th>
        <th>文档</th>
        <th>详情</th>
        <th>删除</th>
      </tr>
    </thead>
    <tbody data-link="row">
      {% for property in properties.items %}
      <tr>
        <th>{{property.NameUnicode}}</th>
        <th>{{property.AddressLine1}}</th>
        <th>{{property.RentableBuildingArea}}</th>
        <th class="fit"><a class="btn btn-default {% if not property.ImageId %}disabled{% endif %}" href="/dashboard/property/image/{{property.ImageId}}" data-remote="false" data-toggle="modal" data-target="#myModal" role="button">&nbsp;&nbsp;图片&nbsp;&nbsp;</a></th>
        <th class="fit"><a class="btn btn-default {% if not property.DocumentId %}disabled{% endif %}" href="/dashboard/property/doc/{{property.DocumentId}}" role="button">相关文档</a></th>
        <th class="fit"><a class="btn btn-default" href="{{url_for('edit_property', iden=property.Id)}}" role="button">&nbsp;&nbsp;编辑&nbsp;&nbsp;</a></th>
        <th class="fit"><form action="{{url_for('delete_property', iden=property.Id)}}" method="POST"><button class="btn btn-default" type="submit">&nbsp;&nbsp;删除&nbsp;&nbsp;</a></form></th>
      </tr>
      {% endfor %}  
    </tbody>
  </table>
  {% from "/util/_pagination.html" import render_pagination %}
  {{render_pagination(properties, keyword)}}

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" >
        <a id="my-link" href="">
        <image id="my-image" src="" class="img-responsive" ></image>
        </a>
      </div>
    </div>
  </div>
</div>
  <script>
  $(document).ready(function() {
    $('#viewProperty').addClass('active');
    $("#myModal").on("show.bs.modal", function(e) {
      var link = $(e.relatedTarget);
      $("#my-image").attr('src', link.attr("href"));
      $("#my-link").attr('href', link.attr("href"));
  });
  });
  </script>
{% endblock %}